@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans text-gray-900;
}

a {
  @apply transition-colors;
}

button {
  @apply transition-all;
}
